@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

header {
    background: black;
    padding: 25px 0px;
    color: bisque;
    text-align: center;
}

h1 {
    font-size: 5em;
}

main {
    max-width: 800px;
    background-color: bisque;
    margin: auto;
    padding: 25px 0px 0px 0px;
}

article {
    margin: 0px 0px 100px 30px;
    font-size: 2em;
    line-height: 60px;
}

.para1 {
    background: black url(pacote-d012/imagens/background001.jpg) center center;
    padding-top: 50px;
    padding-bottom: 5px;
}

.arti2 {
    background-color: rgba(0, 0, 0, 0.349);
    color: bisque;
    width: 350px;
    padding-left: 4px;
}