@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

header {
    background: black;
    padding: 25px 0px;
    color: bisque;
    text-align: center;
}

h1 {
    font-size: 5em;
}

.linkheader {
    color: bisque;
    text-decoration: none;
    font-weight: bolder;
}

main {
    max-width: 800px;
    background-color: bisque;
    margin: auto;
    margin-bottom: 0;
    padding: 25px 0px 100px 0px;
}

section {
    font-size: 2em;
    line-height: 60px;
}

.arti1 {
    margin: 0px 0px 100px 30px;
}

.para1 {
    background: black url(pacote-d012/imagens/background001.jpg)  center center fixed;
    padding-top: 50px;
    padding-bottom: 5px;
    background-size: cover;
}

.arti2 {
    background-color: rgba(0, 0, 0, 0.349);
    color: bisque;
    width: 350px;
    padding-left: 4px;
    text-shadow: 2px 2px black;
    margin: 0px 0px 100px 30px;
}

.arti3 {
    margin: 0px 0px 100px 30px;
}

.para2 {
    background: black url(pacote-d012/imagens/background002.jpg) center center fixed;
    padding-top: 50px;
    padding-bottom: 5px;
}

.arti4 {
    background-color: rgba(0, 0, 0, 0.349);
    color: bisque;
    width: 350px;
    padding-left: 4px;
    text-shadow: 2px 2px black;
    margin: 0px 0px 100px 30px;
}

.arti5 {
    margin: 0px 0px 0px 30px;
}

footer {
    background-color: black;
    color: bisque;
    text-align: center;
    padding: 5px 0 5px 0;
}

.linkfooter {
    color: bisque;
    text-decoration: none;
    font-weight: bolder;
}