@charset "UTF-8";
body{
    background-color: #e0c5fa;
}
h1 {
    text-align: center;
    position: relative;left: 23px;
}
h2 {
    text-align: center;
    position: relative;left: 19px;top: 20px;
}
p {
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 15px;
}
hr {
    width: 700px;
    align-items: center;
}
ol {
    text-align: center;
    align-items: center;
}
ul {
    list-style-type:disc;
}
li {
    position: relative;top: 10px;
    background-color:#f0ffff;
    text-align: center;
}

