@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
}

html,
body {
    height: 100vh;
    width: 100vw;
}

main {
    position: relative;
    height: 100vh;
    width: 100vw;
    background: black url(pacote-d013/imagens/fundo-madeira.jpg) top center no-repeat fixed;
    background-size: cover;
}

section#telefone {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-image: url(pacote-d013/imagens/frame-iphone.png);
    background-repeat: no-repeat;
    width: 308px;
    height: 624px;
}

iframe#tela {
    position: relative;
    top: 82px;
    left: 24px;
    height: 467px;
    width: 263px;
}

section#redes {
    padding-top: 20px;
    margin-right: 10px;
    text-align: right;
}

section#redes>a>img {
    width: 50px;
    border-radius: 50%;
    margin: 5px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.562);
    box-sizing: border-box;
}

section#redes>a>img:hover {
    width: 55px;
    border: 2px solid rgba(255, 255, 255, 0.548);
    box-shadow: 4px 4px 6px 3px rgba(0, 0, 0, 0.562);
    transform: translate(-2px -2px);
    transition-duration: 0.2s;
}

